storeFile=C:\\Users\\josem\\Documents\\REPOS\\freenoisegeneratorandroid\\release-upload.jks
storePassword=replace-with-your-store-password
keyAlias=free-noise-generator-upload
keyPassword=replace-with-your-key-password
